backend/daily_pdf_reports.json
{
  "name": "daily_pdf_reports.json",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "59 23 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        32
      ],
      "id": "00a86f9a-a7a4-478d-af5f-5f5f31aaf50a",
      "name": "Run Daily at 11:59 PM"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get all sales for today with item details\nSELECT \n  ps.id as sale_id,\n  ps.sale_number,\n  ps.sale_status,\n  ps.payment_method,\n  ps.total_amount as sale_total_amount,\n  ps.\"createdAt\" as sale_time,\n  psi.id as sale_item_id,\n  psi.brand_name,\n  psi.generic_name,\n  psi.quantity,\n  psi.unit_price,\n  psi.total_price,\n  np.description as package_description,\n  np.package_ndc,\n  i.quantity_on_hand,\n  i.lot_number,\n  i.expiry_date\nFROM pos_sale ps\nINNER JOIN pos_sale_item psi ON psi.sale_id = ps.id\nINNER JOIN ndc_package np ON np.id = psi.package_id\nLEFT JOIN inventory i ON i.id = psi.inventory_id\nWHERE DATE(ps.\"createdAt\") = CURRENT_DATE\n  AND ps.sale_status IN ('COMPLETED', 'PARTIALLY_FILLED')\nORDER BY ps.\"createdAt\" ASC, psi.id ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        32
      ],
      "id": "62c1d2a1-c84a-449a-a0d3-36e20987afb4",
      "name": "Fetch All Today's Sales",
      "credentials": {
        "postgres": {
          "id": "ZRT4AN7r4ibFzcW0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-sales-daily",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        32
      ],
      "id": "953489b8-991e-45b6-8324-ee85f7937237",
      "name": "Any Sales Today?"
    },
    {
      "parameters": {
        "filePath": "={{ $json.pdf_path }}"
      },
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        1216,
        32
      ],
      "id": "2fefb110-e803-468b-9704-392b1bc07538",
      "name": "Read PDF File"
    },
    {
      "parameters": {
        "jsCode": "// Parse the HTTP response\nconst response = $input.first().json;\n\nif (!response.success) {\n  throw new Error(`PDF generation failed: ${response.error}\\n${response.traceback || ''}`);\n}\n\nreturn [{\n  json: {\n    pdf_path: response.output_path,\n    success: response.success,\n    statistics: response.statistics\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        32
      ],
      "id": "7efdf47f-b7db-4db8-bbf3-79225a76122e",
      "name": "Parse PDF Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pdf-server:5000/generate-pdf",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        32
      ],
      "id": "2f393a19-e40b-44e9-881c-78a95a187651",
      "name": "Call PDF Server"
    },
    {
      "parameters": {
        "jsCode": "// Prepare data and send to Flask PDF server\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  return [];\n}\n\n// Convert to array of objects for Python script\nconst salesData = items.map(item => ({\n  sale_number: item.json.sale_number,\n  sale_status: item.json.sale_status,\n  payment_method: item.json.payment_method,\n  sale_total_amount: parseFloat(item.json.sale_total_amount),\n  sale_time: item.json.sale_time,\n  brand_name: item.json.brand_name,\n  generic_name: item.json.generic_name,\n  quantity: parseInt(item.json.quantity),\n  unit_price: parseFloat(item.json.unit_price),\n  total_price: parseFloat(item.json.total_price),\n  package_description: item.json.package_description,\n  quantity_on_hand: item.json.quantity_on_hand \n    ? parseInt(item.json.quantity_on_hand) \n    : 0\n}));\n\n// Get today's date for filename\nconst today = new Date();\nconst dateStr = today.toISOString().split('T')[0]; // YYYY-MM-DD\n\n// Docker container path (was C:/Users/ismai/.n8n-files/)\nconst outputPath = `/home/node/.n8n-files/daily_sales_report_${dateStr}.pdf`;\n\nreturn [{\n  json: {\n    sales_data: salesData,\n    output_path: outputPath,\n    report_date: dateStr,\n    total_records: salesData.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        32
      ],
      "id": "8ed05008-4351-4822-a218-4e67869cf574",
      "name": "Prepare data and send to Flask PDF server"
    },
    {
      "parameters": {
        "resource": "file",
        "options": {
          "channelId": "=C0AFLGAHE0L",
          "fileName": "=Daily_Sales_Report_{{ $('Parse PDF Response').item.json.statistics.report_date }}.pdf",
          "title": "=The Sales Summary for {{ $json.statistics.report_date }}"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1440,
        32
      ],
      "id": "62b68940-b2c6-4349-8449-a942bf6e8487",
      "name": "Upload PDF to Slack",
      "webhookId": "018e1773-80e3-4872-91bd-0a3297347e2b",
      "credentials": {
        "slackApi": {
          "id": "bbOX16g2EYYfrvCJ",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Run Daily at 11:59 PM": {
      "main": [
        [
          {
            "node": "Fetch All Today's Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Today's Sales": {
      "main": [
        [
          {
            "node": "Any Sales Today?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Sales Today?": {
      "main": [
        [
          {
            "node": "Prepare data and send to Flask PDF server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PDF File": {
      "main": [
        [
          {
            "node": "Upload PDF to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse PDF Response": {
      "main": [
        [
          {
            "node": "Read PDF File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call PDF Server": {
      "main": [
        [
          {
            "node": "Parse PDF Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare data and send to Flask PDF server": {
      "main": [
        [
          {
            "node": "Call PDF Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "59fb07f9-7c10-47fd-bf1a-9761b3c27a59",
  "meta": {
    "instanceId": "22f5c003fd2cd3a1ac314539a7e8567fe60195300a5577f02c6e551c0f97cc2a"
  },
  "id": "RQRbRkeg2H2rahAb",
  "tags": []
}